@import url("https://use.typekit.net/ffq7wcz.css");

body {
    font-family: "basic-sans", sans-serif;
    font-weight: 400;
    font-style: normal;

    background-color: #f2f2f2;
}

/* ------------------------------- hero ------------------------------- */

.hero {
    width: 100%;
    padding: 3rem;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    color: #FFF;
    text-shadow: 2px 2px #2f2f2fbb;

    background-color: #3CA6A6;
    box-shadow: 5px 5px 15px 0px rgba(54, 54, 54, 0.3);
}

.hero .logo {
    display: flex;
    align-items: center;
}

.title {
    text-transform: uppercase;
}

/* ------------------------------- cards & content ------------------------------- */

.content {
    width: 80%;
    min-height: 20rem;
    padding: 1.5rem;
    margin: 5rem auto;

    border-radius: 7px;

    display: flex;

    background-color: #FFF;
    box-shadow: 5px 5px 15px 0px rgba(54, 54, 54, 0.3);
}

.content .card {
    width: 100%;
    min-height: 20rem;

    border-radius: 7px;
    background-color: #3CA6A6;
}

.content .card .label {
    height: 5rem;

    display: flex;
    justify-content: center;
    align-items: center;

    text-transform: uppercase;
    color: #FFF;
    text-shadow: 2px 2px #2f2f2fbb;
}

.btn {
    padding: 10px;
    border: none;

    text-transform: uppercase;
    font-weight: bold;
    color: #fff;

    border-radius: 7px;
    background-color: #026773;
    box-shadow: 3px 3px 2px 0px rgba(69, 69, 69, 0.4);

    transition: .3s ease-in-out;
}

.btn:hover {
    cursor: pointer;
    color: #04BF8A;
    box-shadow: none;
}

.switch {
    height: 5rem;
    margin: 0 1rem;

    display: flex;
    align-items: center;
}

.switch .switch-btn {
    padding: 10px 25px;
    transition: .3s ease-in-out;
}

.content .card textarea {
    width: 100%;
    padding: 1rem;
    height: calc(100% - 5rem);
    min-height: calc(100% - 5rem);
    max-height: 800px;

    resize: vertical;

    color: #666666;
    font-size: 16px;
    line-height: 1.4;

    outline: none;
    border: solid 1px #3CA6A6;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    background-color: #e2e2e2;
}

/* ------------------------------- footer ------------------------------- */

footer {
    width: 100%;
    height: 20rem;
    padding: 2rem;
    margin-top: 8rem;

    color: #FFF;
    background-color: #3CA6A6;
    box-shadow: 0px -8px 15px 0px rgba(69, 69, 69, 0.3);
}

.footer-content {
    width: 80%;
    height: 100%;
    margin: auto;

    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.footer-content .box {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-content .box a {
    margin: 0px;
    color: #FFF;
    text-align: center;
    text-shadow: 2px 2px #2f2f2fbb;
}

.footer-content .box a img {
    width: 50%;
    padding: 1rem;
}

.footer-content .box h3 {
    font-size: xx-large;
    text-transform: uppercase;
    text-shadow: 2px 2px #2f2f2fdd;
}

.footer-content .box .social-media {
    margin: 2rem;
}

.footer-content .box .social-media a {
    width: 3rem;
    height: 3rem;
    margin-right: 5px;

    display: inline-block;

    line-height: 3.3rem;
    font-size: xx-large;
    color: #fff;
    text-shadow: 2px 2px #2f2f2fdd;

    border-radius: 7px;
    background-color: #015b65;
    box-shadow: 3px 3px 2px 0px rgba(69, 69, 69, 0.4);

    transition: all .3s ease-in-out;
}

.footer-content .box .social-media a:hover {
    color: #04BF8A;
    box-shadow: none;
}

.end-page {
    width: 100%;
    padding: .8rem;

    text-align: center;
    font-size: larger;
    color: #d0d0d0;

    background-color: #026773;

}

.end-page a {
    color: #d0d0d0;
}